<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
      <unitTestProvider name="xUnit" />
  </specFlow>
  <appSettings>
    <add key="apiKey" value="a96a4eaada30d9a1b647fa413b3696cc" />
  </appSettings>
</configuration>